:root {
	--base: rgb(11, 08, 28);
	--base-1: rgb(48, 48, 85);
	--surface0: rgb(48, 48, 82);
	--surface1: rgb(15, 15, 26);
	--text: rgb(199, 200, 255);

	--yellow: #cca715;
	--orange: #D96F32;
	--red: rgb(244, 113, 150);
	--green: rgb(178, 231, 173);
    --cyan: #67e8f9;
    --lime: #a3e635;

	--primary-100: rgb(237, 233, 255);
	--primary-200: rgb(219, 210, 255);
	--primary-300: rgb(200, 188, 255);
	--primary-400: rgb(182, 165, 255);
	--primary-500: #a48fff;
	--primary-600: rgb(131, 114, 204);
	--primary-700: rgb(98, 86, 153);
	--primary-800: rgb(66, 57, 102);
	--primary-900: rgb(33, 29, 51);

	--secondary-100: #d5d5dd;
	--secondary-200: #abaabb;
	--secondary-300: #818099;
	--secondary-400: #575577;
	--secondary-500: #2d2b55;
	--secondary-600: #242244;
	--secondary-700: #1b1a33;
	--secondary-800: #121122;
	--secondary-900: #090911;

	--primary-foreground: rgb(15, 15, 26);
}

* {
	font-size: 12px;
	color: var(--text);
	font-weight: 600;
	font-family: "JetBrainsMono NFP";
	margin: 0;
	padding: 0;
}

.yasb-bar {
	padding: 2px 5px 2px 10px;
	margin: 0;
	background-color: var(--base);
	border-radius: 10px;
}

.tooltip {
	background-color: var(--base);
	border: 2px solid var(--surface0);
	border-radius: 4px;
	color: var(--text);
	padding: 4px 8px 5px 8px;
	font-size: 12px;
	font-family: "Segoe UI";
	font-weight: 600;
	margin-top: 4px;
}

.progress-circle {
	padding-right: 4px;
}

/*******************************************
 *             Context Menu                *
 *******************************************/

.context-menu,
.context-menu .menu-checkbox {
	background-color: #202020;
	border: none;
	padding: 4px 0px;
	font-family: "Segoe UI";
	font-size: 12px;
	color: #ffffff;
}

.context-menu::right-arrow {
	width: 8px;
	height: 8px;
	padding-right: 24px;
}

.context-menu::item,
.context-menu .menu-checkbox {
	background-color: transparent;
	padding: 6px 12px;
	margin: 2px 6px;
	border-radius: 4px;
	min-width: 100px;
}

.context-menu::item:selected,
.context-menu .menu-checkbox:hover {
	background-color: #313131;
	color: #ffffff;
}

.context-menu::separator {
	height: 1px;
	background-color: #404040;
	margin: 4px 8px;
}
.context-menu::item:disabled {
	color: #666666;
	background-color: transparent;
}
.context-menu .menu-checkbox .checkbox {
	border: none;
	padding: 8px 16px;
	font-size: 12px;
	margin: 0;
	color: #ffffff;
	font-family: "Segoe UI";
}
.context-menu .submenu::item:disabled {
	margin: 0;
	padding-left: 16px;
}
.context-menu .menu-checkbox .checkbox:unchecked {
	color: #999;
}
.context-menu .menu-checkbox .checkbox::indicator {
	width: 12px;
	height: 12px;
	margin-left: 0px;
	margin-right: 8px;
}
.context-menu .menu-checkbox .checkbox::indicator:unchecked {
	background: #444444;
	border-radius: 2px;
}
.context-menu .menu-checkbox .checkbox::indicator:checked {
	background: #007acc;
	border-radius: 2px;
}
.context-menu .menu-checkbox .checkbox:focus {
	outline: none;
}

/*******************************************
 *                 Widgets                 *
 *******************************************/

.widget {
	padding: 0 3px;
	margin: 0;
}

.icon {
	font-size: 11px;
	padding-right: 4px;
}

.widget .label {
	padding: 0px 2px;
}

.grouped-widgets .container {
	background-color: var(--secondary-500);
	margin: 2px 0 2px 0;
	border-radius: 10px;
	border: 1px solid var(--secondary-900);
}

.cpu-widget .icon {
	color: var(--orange);
}

.memory-widget .label,
.cpu-widget .label {
	padding-right: 8px;
}

.clock-widget .label {
	color: var(--primary-200);
	font-size: 12.5px;
	font-weight: 600;
}

/*******************************************
 *               Calendar                  *
 *******************************************/

.calendar {
	background-color: var(--secondary-800);
}

.calendar .calendar-table,
.calendar .calendar-table::item {
	background-color: rgba(17, 17, 27, 0);
	color: rgba(162, 177, 196, 0.85);
	font-family: "Segoe UI";
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.calendar .calendar-table::item:selected {
	color: var(--primary-foreground);
	font-weight: 800;
	background-color: var(--primary-500);
	border-radius: 10px;
}

.calendar .day-label {
	margin-top: 20px;
}

.calendar .day-label,
.calendar .month-label,
.calendar .date-label,
.calendar .week-label,
.calendar .holiday-label {
	font-family: "Segoe UI";
	font-size: 16px;
	color: var(--primary-200);
	font-weight: 700;
	min-width: 180px;
	max-width: 180px;
}

.calendar .week-label,
.calendar .holiday-label {
	font-size: 12px;
	font-weight: 600;
	color: var(--secondary-500);
}

.calendar .holiday-label {
	color: var(--red);
	font-weight: 700;
}

.calendar .date-label {
	font-size: 88px;
	font-weight: 900;
	color: var(--primary-300);
	margin-top: -20px;
	margin-bottom: -10px;
}

/*******************************************
 *               Power Menu                *
 *******************************************/

.power-menu-widget .label {
	color: var(--red);
	font-size: 15px;
}

.power-menu-popup {
	background-color: transparent;
}

.power-menu-popup .button {
	padding: 0;
	width: 180px;
	height: 230px;
	border-radius: 0;
	background-color: var(--primary-900);
	color: var(--green);
	border-left: 4px solid rgba(58, 83, 80, 0);
	border-right: 4px solid rgba(58, 83, 80, 0);
	border-top: 4px solid rgba(58, 83, 80, 0);
	border-bottom: 4px solid rgba(58, 83, 80, 0);
	margin: 0px;
}

.power-menu-popup .button.hover {
	border-left: 4px solid var(--secondary-300);
	border-right: 4px solid var(--secondary-300);
	border-top: 4px solid var(--secondary-300);
	border-bottom: 4px solid var(--secondary-300);
}

.power-menu-popup .button.cancel.hover {
	border-left: 4px solid #e29494;
	border-right: 4px solid #e29494;
	border-top: 4px solid #e29494;
	border-bottom: 4px solid #e29494;
}

.power-menu-popup .button .label {
	margin-bottom: 8px;
	font-size: 20px;
	font-weight: 500;
	color: var(--primary-400);
}

.power-menu-popup .button .icon {
	font-size: 64px;
	padding-top: 32px;
	color: var(--green);
}

.power-menu-popup .button.cancel .icon,
.power-menu-popup .button.cancel .label {
	color: var(--red);
}

.uptime {
	font-size: 16px;
	margin-bottom: 10px;
	color: var(--surface2);
	font-weight: 600;
}

/*******************************************
 *               Audio Menu                *
 *******************************************/
.audio-menu {
	background-color: var(--secondary-800);
}

.volume-widget {
	margin-left: 2px;
}

.volume-widget .icon {
	font-size: 16px;
	color: var(--green);
}

.volume-widget .label {
	font-size: 13px;
}

.audio-container .device {
	background-color: transparent;
	border: none;
	padding: 6px 8px 6px 4px;
	margin: 2px 0;
	font-size: 12px;
	border-radius: 4px;
}

.audio-container .device.selected {
	background-color: var(--secondary-500);
}

.audio-container .device:hover {
	background-color: var(--secondary-600);
}

.apps-widget .widget-container .label {
	padding: 0 5px;
}

/*******************************************
 *              System Tray                *
 *******************************************/

.systray {
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
}
.systray .button {
	border-radius: 4px;
	padding: 2px 2px;
	background-color: transparent;
}

.systray .button:hover,
.systray .unpinned-visibility-btn:hover {
	background: rgba(255, 255, 255, 0.1);
}

.systray .unpinned-visibility-btn {
	height: 20px;
	width: 16px;
	background-color: transparent;
	border: none;
	font-size: 14px;
}

.systray .unpinned-visibility-btn:hover {
	border-radius: 4px;
}

/*******************************************
*              Home Menu                   *
*******************************************/

.home-widget {
	padding-right: 0;
}

.home-widget .icon {
	color: var(--lime);
	font-size: 16px;
}

.home-widget .icon:hover {
	color: var(--text);
}

.home-menu {
	background-color: var(--secondary-800);
	border-radius: 8px;
}

.home-menu .menu-item {
	padding: 8px 48px 9px 16px;
	font-size: 14px;
	font-family: "Segoe UI";
	color: var(--text);
	font-weight: 600;
    width: fit-content;
    overflow: hidden;
}

.home-menu .menu-item:hover {
	background-color: rgba(128, 130, 158, 0.15);
	color: #fff;
}

.home-menu .separator {
	max-height: 1px;
	background-color: rgba(128, 130, 158, 0.3);
}

.notification-widget .icon.new-notification {
	color: var(--yellow);
    font-size: 14px;
}

/*******************************************
*                Bluetooth                 *
*******************************************/


.bluetooth-widget .label {
	color: var(--cyan);
}

.bluetooth-widget .icon {
	color: var(--cyan);
	font-size: 16px;
}
